<!DOCTYPE html>
<html>
  <head>
    <%- include("./shared/reference.ejs") %>
  </head>
  <body>
    <%- include('./shared/loading.ejs') %>
    <br>
    <div class="m-auto p-3" style="max-width: 1200px">
      <%- include("./shared/table.ejs") %>
    </div>
    <br>
  </body>
</html>
